accelerate==1.11.0
annotated-types==0.7.0
numpy==2.3.4
ollama==0.6.0
openai==2.6.1
regex==2025.10.23
requests==2.32.5
safetensors==0.6.2
tenacity==9.1.2
tokenizers==0.22.1
torch==2.9.0
transformers==4.57.1